<div class="container">	
	<div class="jumbotron"> 
		<img src="/assets/images/wings.png"> 
		<h1> Eat-Da-Wings! </h1>
	</div>

	{{!-- wings list before being eaten --}}
	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<div class="panel-panel default">
				<ul class="list-group">
				{{#each wings}}
					{{#unless this.devoured}}
					<li class="list-group-item">
						<div class="input-group">
							<p class="lead"> {{this.wings_name}} </p>
							<span class="input-group-btn">
								<form action="wings/update/{{this.id}}?_method=PUT" method="POST">
									<input type="hidden" name="devoured" value="true">
									<button class="btn btn-default btn-lg" type="submit"> EAT IT! </button>
								</form>
							</span>
						</div>
					</li>
					{{/unless}}
				{{/each}}
			</ul>
		</div>
	</div>


		{{!-- wings list after being eaten --}}
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<div class="panel panel-default">
				<ul class="list-group">
				{{#each wings}}
					{{#if this.devoured}}
					<li class="list-group-item">
						<p class="lead">{{this.wings_name}} </p>
					</li>
					{{/if}}
				{{/each}}
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-10 col-md-offset-1">
		<p class="lead"> Enter the name of the wings you want to eat & click the submit button. </p>

		{{!-- section to add wings --}}
		<form class="create-update-form" action="wings/create" method="POST">

			<div class="form-group">
				<textarea class="form-control input-lg" type="text" name="b_name" rows="3"> </textarea>
			</div>

			<button class="btn btn-default btn-lg" type="submit">Add Wings!</button>
		</form>

	</div>

	</div>
